<div class="modal fade show" id="upload-excel" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="upload-excelLabel" >
										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">Default</h4>
											</div>

											<div class="widget-body">
												<div class="widget-main no-padding">
													<form>
														<!-- <legend>Form</legend> -->
														<fieldset>
															<label>Label name</label>

															<input type="text" placeholder="Type something…">
															<span class="help-block">Example block-level help text here.</span>

															<label class="pull-right">
																<input type="checkbox" class="ace">
																<span class="lbl"> check me out</span>
															</label>
														</fieldset>

														<div class="form-actions center">
															<button type="button" class="btn btn-sm btn-success">
																Submit
																<i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
															</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>