<ul class="nav nav-list">
					<li class="">
						<a href="{% url 'view_learning_materials' %}">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Materials </span>
						</a>

						<b class="arrow"></b>
					</li>

<li class="">
						<a href="{% url 'history' %}">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> History </span>
						</a>

						<b class="arrow"></b>
					</li>
					<li class="">
						<a href="{% url 'materials' %}">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> All Materials </span>
						</a>

						<b class="arrow"></b>
					</li>
			<li class="">
						<a href="{% url 'add_learn_material' %}">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Add Materials </span>
						</a>

						<b class="arrow"></b>
					</li>
					<li class="">
						<a href="{% url 'learners' %}">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Learners List </span>
						</a>

						<b class="arrow"></b>
					</li>
						<li class="">
						<a href="{% url 'add_learner' %}">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Add Learner </span>
						</a>

						<b class="arrow"></b>
					</li>
				</ul><!-- /.nav-list -->
