
            <div class="quick-panel-sidebar custom-scrollbar raz-bar position-right ps ps--theme_default raz-bar-closed" data-raz-bar="quick-panel-sidebar" data-raz-bar-position="right" data-ps-id="e968ded1-b2fc-6012-e2a4-4d678be55d93">
           <div class="list-group">

               <div class="list-group-item subheader">TODAY</div>

               <div class="list-group-item two-line">

                   <div class="text-muted">

                       <div class="h1"> Monday</div>

                       <div class="h2 row no-gutters align-items-start">
                           <span> 12</span>
                           <span class="h6">th</span>
                           <span> Jun</span>
                       </div>

                   </div>
               </div>
           </div>

           <div class="divider"></div>

           <div class="list-group">

               <div class="list-group-item subheader">Todays Activities</div>

               <div class="list-group-item two-line">

                   <div class="list-item-content">

                       <h3>Group Meeting</h3>

                       <p>In 32 Minutes, Room 1B</p>
                   </div>

               </div>

               <div class="list-group-item two-line">

                   <div class="list-item-content">

                       <h3>Meeting with Client name</h3>

                       <p>11:00 PM</p>
                   </div>

               </div>

               <div class="list-group-item two-line">

                   <div class="list-item-content">

                       <h3>Meeting with David</h3>

                       <p>At Location, 17:30 PM</p>
                   </div>

               </div>

               <div class="list-group-item two-line">

                   <div class="list-item-content">

                       <h3>Q&amp;A Session</h3>

                       <p>20:30 PM</p>
                   </div>

               </div>

           </div>

           <div class="divider"></div>

           <div class="list-group">

               <div class="list-group-item subheader">Notifications</div>

               <div class="list-group-item two-line">

                   <div class="list-item-content">

                       <h3>Best songs to listen while working</h3>

                       <p>At Location, 17:30 PM</p>
                   </div>

               </div>

               <div class="list-group-item two-line">

                   <div class="list-item-content">

                       <h3>Useful subreddits</h3>

                       <p>At Location, 17:30 PM</p>
                   </div>

               </div>

           </div>

           <div class="divider"></div>

       
       <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
       <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
      
